<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Composants</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">
    <link href="
https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/minty/bootstrap.min.css
" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> Pollu-score </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productExplorer:index' %}">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Company list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Search all products</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<br><br>
<div class="container">
    <h1>Trace product : {{ objectItem }}</h1>
    <br><br>

    {% if last_nodes %}
        <div class="container">

        </div>
    {% else %}
        <div class="container">
            <div class="alert alert-info">
                <strong> Our data ends here ! </strong> This is the end of the line for this product.
                It means that either the product was sold out of the circuit and into the hands of their final owner,
                or that the company responsible for the next step does not allow access to its data. <br> <br>
                <strong> If you search for your own product, this probably marks the moment you bought it ! :)</strong>
            </div>
        </div>
    {% endif %}
    <!-- Main Object of page -->

    <div class="container d-flex justify-content-center">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <h3 class="card-header"> {{ objectItem }} </h3>
            <div class="card-body">
                <h5 class="card-title"> {{ objectItem.brand }} </h5>
                <h6 class="card-subtitle text-muted"> {{ objectItem.supplier }} </h6>
            </div>
            <img src="{% static 'productExplorer/phone-mobile.jpg' %}" alt="phone-mobile" class="img-thumbnail" width="100%" height="200" onclick="navigateTo('viewProduct')">

            <div class="card-body">
                <p class="card-text"> Currently, no description can be found for this product. </p>
            </div>
            <div class="card-body">
                <p class="card-text"> Ranking for this <br> product this month : </p>
                <h4> {{ rank }} B </h4>
            </div>
            <div class="card-footer text-muted">
                Last change : 2 days ago
            </div>
        </div>
    </div>
    <!-- End of Main Object of page -->


    <!-- Start of main chain -->
    <div class="container d-flex justify-content-center">
        <div>
            {% for step in chain %}
                {{ step.id }}
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">{{ step }}</div>
                    <div class="card-body">
                        <p class="card-text">{{ step.industry_step.description }}<p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- End of main chain -->


    <!-- Start of next_nodes -->
    {% if next_nodes %}
        <div class="container card-group">
            {% for node in next_nodes %}
                <a href="{% url 'productExplorer:viewProduct' id=node.objectItem.id %}" class="text-reset text-decoration-none">
                <div class="card border border-secondary" style="max-width: 20rem; margin: 1rem">
                    <div class="card-header"> {{ node }} </div>
                    <div class="card-body">
                        <h4 class="card-title"> {{ node.industry_step.get_process_display }} of {{ node.objectItem.address }}</h4>
                        <p class="card-text">{{ node.industry_step.description }}</p>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="container">
            <div class="alert alert-info">
                <strong> Our data ends here ! </strong> This is the ealier we can start to trace this product.
                This either means that you are seeing the earliest time those material have been in the circuit, or
                that we cannot get earlier data.
            </div>
        </div>
    {% endif %}
    <!-- end of next_nodes -->


</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
